*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    flex:1;
}
ul{
    display:flex;
    align-items: center;
}
li{
    padding: 1rem;
}
.links{
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    padding-left: 2rem;
    padding-right: 2rem;
   }
   nav{
       border-bottom:1 px solid black;
       position:fixed;
       width:100%
       background-image: linear-gradient(to right,#CD113B,#BFA2DB);
   }
.main{
    display:flex;
    padding-top: 4rem;
    height: 90vh;
}
.home{
    background-image: linear-gradient(to right,#A3A847,#FFBCBC);
}
.maintext{
    width:100%;
    text-align: center;
    color: #fff;
    display: flex;
    padding-top: 8rem;
    flex-direction:column;
}